@import url(alumnos/amisadai.css);
@import url(alumnos/angie.css);
@import url(alumnos/caro.css);
@import url(alumnos/damaris.css);
@import url(alumnos/dane.css);
@import url(alumnos/hector.css);
@import url(alumnos/jazelly.css);
@import url(alumnos/lili.css);
@import url(alumnos/togo.css);

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background: #2a2a2a;
    line-height: 1.5em;
    color: #2B2B2B;
    display: grid;
    grid-template-rows:100%;
    transition: all 0.5s ease-in-out;
    box-sizing: border-box;
}
main{
    background-color: #FFF;
}
aside a:any-link{
    color: #FFF;
}
img {
    width: 100%;
    height: auto;
}
#cuerpo.expandido{
    grid-template-columns: 52px 1fr;
}
#cuerpo.colapsado{
    grid-template-columns: 105px 1fr;
}
h1{
    font-weight: 700;
    font-size:2.5rem;
    line-height: 1.2em;
}
h2{
    font-weight: 700;
    font-size:2.25rem;
    line-height: 1.2em;
}
h3{
    font-weight: 700;
    font-size:2rem;
    line-height: 1.2em;
}
h4{
    font-weight: 600;
    font-size:1.75rem;
    line-height: 1.3em;
}
h5{
    font-weight: 600;
    font-size:1.5rem;
    line-height: 1.3em;
}
h6{
    font-weight: 500;
    font-size:1.25rem;
    line-height: 1.4em;
}
#cuerpo.colapsado > aside > .sidebar{ 
    width: 105px;
}
#cuerpo.expandido > aside > div > img.Completo, #cuerpo.colapsado > aside > div > img.Corto,#cuerpo.colapsado #cerrarMenu > span.icon-asset.material-symbols-outlined.izquierda, #cuerpo.expandido #cerrarMenu > span.icon-asset.material-symbols-outlined.derecha, #cuerpo.expandido  > aside a span.texto{
    display: block;
}
#cuerpo.colapsado > aside > div > img.Completo, #cuerpo.expandido > aside > div > img.Corto, #cuerpo.expandido #cerrarMenu > span.icon-asset.material-symbols-outlined.izquierda, #cuerpo.colapsado #cerrarMenu > span.icon-asset.material-symbols-outlined.derecha, #cuerpo.colapsado  > aside a span.texto{
    display: none;
}
#cuerpo.colapsado > aside li {
    margin-bottom: 12px;
}
aside {
    background: #2a2a2a;
    grid-row-start: 1;
    grid-row-end: 3;
}
#contenido {
    display: grid;
    grid-template-rows:80px 1fr;
    grid-template-columns:1fr;
}
header{
    background: #FFF;
}
#dashboard {
    display: grid!important;
    grid-template-rows:1fr 1fr;
    grid-template-columns:1fr;
    background: #FFF;
}
#expo{
    display: inline-block;
    width: 100%;
}
#expos, #fichas{
    width: 100%;
}
#crearExpo, #votaciones{
    display: inline-block;
    vertical-align: top;
    width: 90%;
}
.Corto, .Completo{
    width: 80%;
    margin-top: 2.3rem;
    transition: all 0.5s ease-in-out;
}
#cuerpo.expandido > aside > div > img.Completo, #cuerpo.expandido > aside a span.texto{
    display: none;
}
#cuerpo.expandido > aside > div > img.Corto, #cuerpo.colapsado > aside a span.texto{
    display:block;
}
.boton{
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
    background: #f25c05;
    padding: 16px 32px;
    margin: 1rem;
    display: block;
    width: fit-content;
    border-radius: 20px;
    text-align: center;
    border-width: 0;
    &:hover{
        background-color: #ff6f1b;
    }
    &:active{
        background-color: #bb4602;
    }
}
input,select,textarea{
    color:#2A2A2A;
    background: white;
    padding:16px 32px;
    margin:1rem;
    display: block;
    width: fit-content;
    border-radius: 20px;
    border: 2px solid #f25c05;
    &:focus,&:focus-visible,&:focus-within{
        border: 2px solid #bb4602;
        outline: #bb4602 auto 2px;
    }
}
#sincronizar {
    padding: 4rem 0;
    p, h2, section{
        width: 80%;
        margin: 2em auto;
    }
    .boton {
        margin-left: 0;
    }
}

#usuarios {
    padding: 4rem 10%;
    .btnUsuario{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        p{
            flex: 1;
        }
        .boton{
            width: 150px;
        }
    }
    .usuario {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        column-gap:8px;
        margin: 1em 0;
        .nombreCorreo{
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
        }
        img{
            width: 60px;
        }
        div{
            flex:auto;
        }
        .material-symbols-outlined{
            width: 27px;
            color: #FFF;
            background: #f25c05;
            text-align: center;
            height: 27px;
            padding: 5px;
            border-radius: 20px;
            vertical-align: middle;
        }
    }
}

.contenedorPaginacion{
    .paginacion{
        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: center;
            list-style: none;
            max-width: 500px;
            margin: 2em auto;
            padding-inline-start: 0px;
            & > li:nth-child(7) > a > span{
                margin-left: 0;
                margin-right: 4px;
            }
            li{
                width: 36px;
                a{
                    color:#2B2B2B;
                    cursor: pointer;
                    text-decoration: none;
                    padding: 5px;
                    width: 24px;
                    height: 24px;
                    border-radius: 32px;
                    border: 2px solid #2b2b2b00;
                    text-align: center;
                    display: block;
                    &.activo{
                        border: 2px solid #f25c05;
                        background:#f25c05;
                        color: white;
                        &:hover{
                            border: 2px solid #f25c05;
                        }
                    }
                    .material-symbols-outlined{
                        vertical-align: top;
                        text-align: center;
                        width: 20px;
                        margin-left: 4px;
                    }
                    &:hover{
                        border: 2px solid #2B2B2B;
                    }
                }
            }
        }
    }
}

.inputIcono{
    position: relative;
    input{
        padding-left: 36px;
        width: 100%;
        margin: 1rem 0;
        line-height: 1em;
        &[type=search] {
            outline-offset: 1px;
        }
    }
    span{
        color: #2B2B2B;
        position: absolute;
        left: 10px;
        top: 16px;
    }
}

#misVotos, #Nuevoformulario{
    .inputIcono span{
        top: 32px;
    }
}

#barraProgreso {
    width: 0;
    background-color: #f25c05;
    transition: width 1s;
    color: white;
    text-align: right;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0;
    box-sizing: border-box;
    height: 42px;
  }

  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}




.modal-contenido {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 85%;
    max-width: 500px;
    text-align: center;
    input{
        width: 250px;
        margin: 1rem auto;
    }
    .boton {
        margin: 1rem auto;
    }
}

#modalConfirmarBorrado > div > div{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    & > button:nth-child(1){
        background: #9a9a9a;
    }
}



.cerrar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 32px;
}

.Administrador{
    color: #2A2A2A;
    background: #F5F5F5;
    padding: 16px 32px;
    margin: 1rem auto;
    display: block;
    width: 250px;
    border-radius: 20px;
    border: 2px solid #F5F5F5;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    label{
        flex: 1;
    }
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: 0 auto;
    overflow: hidden;
  }
  
  .button.r,
  .button.r .layer {
    border-radius: 100px;
    background: #2A2A2A;
  }

  .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
  /* Button 1 */
  #button-1 .knobs:before {
    content: "NO";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #2A2A2A;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 9px 4px;
    background-color: #FFF;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
  }
  
  #button-1 .checkbox:checked + .knobs:before {
    content: "SI";
    left: 42px;
    background-color: #f25c05;
    color: #FFF;
  }
  
  #button-1 .checkbox:checked ~ .layer {
    background-color: #fcebeb;
  }
  
  #button-1 .knobs,
  #button-1 .knobs:before,
  #button-1 .layer {
    transition: 0.3s ease all;
  }


@media screen and (min-width: 768px){
    #cuerpo.expandido{
        grid-template-columns: 140px 1fr;
    }
    #usuarios .btnUsuario {
        flex-direction: row;
    }
    .sidebar{ 
        width: 140px;
    }
    #cuerpo.colapsado > aside > .sidebar{ 
        width: 75px;
    }
    #cuerpo.colapsado {
        grid-template-columns: 75px 1fr;
    }
    #dashboard {
        grid-template-rows:1fr 1fr;
        grid-template-columns:100%;
    }
   
    #contenido {
        grid-template-rows:120px 1fr;
    }
    
    #cuerpo.expandido > aside a span.texto, #cuerpo.expandido > aside > div > img.Completo, #cuerpo.colapsado > aside > div > img.Corto, #cuerpo.colapsado #cerrarMenu > span.icon-asset.material-symbols-outlined.derecha,#cuerpo.expandido #cerrarMenu > span.icon-asset.material-symbols-outlined.izquierda{
        display:block;
    }
    #cuerpo.colapsado > aside a span.texto, #cuerpo.expandido > aside > div > img.Corto, #cuerpo.colapsado > aside > div > img.Completo,#cuerpo.expandido #cerrarMenu > span.icon-asset.material-symbols-outlined.derecha,#cuerpo.colapsado #cerrarMenu > span.icon-asset.material-symbols-outlined.izquierda{
        display:none;
    }
    #cuerpo.colapsado > aside li {
        margin-bottom: 24px;
    }
}

@media screen and (min-width: 1024px){
    #cuerpo.expandido{
        grid-template-columns: 250px 1fr;
    }
    .sidebar{ 
        width: 250px;
    }
    #dashboard {
        grid-template-rows:1fr;
        grid-template-columns:50% 50%;
    }
    .sidebar a {
        flex-direction: row;
    }
    .sidebar .icon-asset {
        margin-right: 20px;
    }
    .sidebar .texto {
        font-size: 16px;
    }
}






