#expos{
    box-sizing: border-box;
    padding: 30px;
    margin: 15px auto;
    background-color: #F5F5F5;
    border-radius: 35px;
    width: 90% !important;
    .enlaces {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        column-gap: 1rem;
        flex-wrap: nowrap;
    }
    a {
        color:#2B2B2B;
        text-decoration: none;
    }
    h2{
        font-size:32px;
        display: flex;
        justify-content:flex-start;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    p{
        margin-bottom: 0;
        margin-top: 8px;
    }
    .enlace1{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
    }
    .enlace2{
        display: flex;
        flex-direction:column;
        justify-content:center;
        align-items:flex-start;
        
    }
    img{
        border-radius: 15px;
    }
}

@media screen and (min-width: 768px){
   /*estilos de tablet*/
   #expos .enlaces {
       flex-direction: row;
   }
   #expos{
    width: 95% !important;
   }
   /*terminan los estiloos de tablet*/
}

@media screen and (min-width: 1024px){
   /*estilos de laptop*/

   
   /*terminan los estiloos de laptop*/
}