.podio-item img{
    width: 45px;
    border-radius: 50%;
    border: 3px solid #F25C05;
}
.podio-item{
    display: flex;
    background-color: #F25C05;
    align-items: center;
    margin: 0px 0px 25px;
    margin-bottom: 25px;
    width: 90%;
    border-radius: 40px;
    justify-content: space-between;
}
.content { 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2A2A2A;
    color: white;
    width: 92%;
    border-radius: 40px;
    font-weight:lighter;
    margin-bottom: 25px;
}

.contenedor-texto{
    width: 100%;
}

.podio-votos{
    margin-right: 20px;
    margin-left: 20px;
    font-size: 2rem;
    color: white;
    font-weight:550;
}

.podio-titulo{
    font-size: 1rem;
    font-weight: 550;
    margin: 1em 10% 8px 5%;
    
}
.podio-nombres{
    font-size: 0.87rem;
    font-weight: normal;
    color: #F25C05;
    margin: 0 10% 1em 5% ;
}

.podium{
    background-color: #F2F2F2;
    border-radius: 30px;
    margin: 25px 25px 25px 46px;
}

