.podio-item img{
    width: 45px;
    border-radius: 50%;
    border: 3px solid #F25C05;
}
.podio-item{
    display: flex;
    background-color: #F25C05;
    align-items: center;
    margin: 0px 0px 25px;
    border-radius: 40px;
    justify-content: space-between;
}
.content { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2A2A;
    color: white;
    border-radius: 40px;
    font-weight: lighter;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1;
}

.contenedor-texto{
    width: 95%;
}

.podio-votos{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2rem;
    color: white;
    font-weight:550;
    width: 60px;
    text-align: center;
}

.podio-titulo{
    font-size: 1rem;
    font-weight: 550;
    margin: 1em 10% 8px 0%;
    
}
.podio-nombres{
    font-size: 0.87rem;
    font-weight: normal;
    color: #F25C05;
    margin: 0 10% 1em 0% ;
}

.podium{
    background-color: #F2F2F2;
    border-radius: 35px;
    margin: 15px auto;
    padding: 15px;
    width: 90%;
    box-sizing: border-box;
}

/* estilos de tablet*/
@media screen and (min-width: 768px){
    .content {
        flex-wrap: nowrap;
    }
    .podio-nombres, .podio-titulo {
        margin-left:  5%;
    }
    .podium{
        width: 95%;
    }

}
/* estilos de laptop*/
@media screen and (min-width: 1024px){

}