header{
    border-bottom: 2px solid #f25c05;
    padding: 10px;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items:  center;
    align-items:  center;
}
header h1{
    margin: 0;
    -webkit-flex: 1;
    flex: 1;
    font-size: 24px;
    margin-left: 35px;
}
header a{
    width: 50px;
    float: right;
}
#votacionDetalle {
    padding: 4rem 10%;
    h2{
        font-size: 23px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 14px;
    }
    p{
        font-size: 12px;
        line-height: 1.4em;
    }
    .boton {
        font-size: 16px;
    }
}

/*tablet*/
@media screen and (min-width: 768px){
    header h1{
        font-size: 28px;
    }
    #votacionDetalle {
        p{
            font-size: 14px;
        }
        section{
            display: -webkit-flex;
            display: flex;
            -webkit-column-gap: 1rem;
            -moz-column-gap: 1rem;
            column-gap: 1rem;
            div:first-child{
                width: 30%;
            }
            div:last-child{
                -webkit-flex: 1;
                flex: 1;
            }
        }
    }
}
/*lap*/
@media screen and (min-width: 1024px){
    header h1{
        font-size: 36px;
    }
}

/*desk*/
@media screen and (min-width: 1280px){
    header h1{
        font-size: 40px;
    }
}