header{
    border-bottom: 2px solid #f25c05;
    padding: 10px;
    display: flex;
    align-items:  center;
}
header h1{
    margin: 0;
    flex: 1;
    font-size: 24px;
    margin-left: 35px;
}
header a{
    width: 50px;
    float: right;
}
/*tablet*/
@media screen and (min-width: 768px){
    header h1{
        font-size: 28px;
    }
}
/*lap*/
@media screen and (min-width: 1024px){
    header h1{
        font-size: 36px;
    }
}

/*desk*/
@media screen and (min-width: 1280px){
    header h1{
        font-size: 40px;
    }
}