/*CSS Grafica Dona*/
#estadisticas {
  padding: 30px;
  margin: 15px;
  background-color: #F5F5F5;
  border-radius: 35px;
}
/*Donas Grandes*/
.larger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
    
  .big {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F25C05;
    margin-bottom: 60px;
  }
  
  .big-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F5F5F5;
  }
  
  .big-percent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
  }
  
  .big-title {
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    margin-top: 100px;
  }

  /*Donas Pequeñas*/
  .chart-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 1.2em;
    gap: 40px 15px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .chart {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #F25C05;
  }
  
  .chart-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5F5F5;
  }
  
  .chart-percent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
  
  .chart-title {
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
    font-weight: bold;
  }

  #Inicio {
    background-color: #fff;
    img {
      display: flex;
      justify-content: center;
      padding: 20px;
      width: 200px;
      margin: 80px auto 0;
    
    }
    form {
      padding: 20px;
      width: 300px;
      margin: 0 auto;
    }

    p {
      text-align: center;
      color: #e0442e;
      display: none;
  }
    
    label {
      display: inline-block;
      text-align: right;
      margin-right: 10px;
      margin-bottom: 5px;
    }
    
    input[type="text"], input[type="password"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 0 0 10px;
      border: 1px solid #D9D9D9;
      border-radius: 25px;
      box-sizing: border-box;
    }
    
    input[type="submit"] {
      display: block;
      width: 100%;
      padding: 10px;
      margin: 0 0 10px;
      background-color: #F25C05;
      color: #fff;
      border: none;
      border-radius: 20px;
      cursor: pointer;
    }
  }

  /*Estilos de tablet*/
  @media screen and (min-width: 768px){
    .larger {
      justify-content: space-around;
      flex-direction: row;
      }
}

/*Estilos de laptop*/
@media screen and (min-width: 1024px){
  .chart-container {
    justify-content: space-evenly;
    gap: 40px 70px;
}
}

@media screen and (min-width: 1199px){
  .chart-container {
    gap: 45px 135px;
  }
}

@media screen and (min-width: 1024px){
  .larger {
    column-gap: 1rem;
    }
}