/*CSS Grafica Dona*/
#estadisticas {
  padding: 30px;
  margin: 15px;
  background-color: #F5F5F5;
  border-radius: 35px;
}
/*Donas Grandes*/
.larger {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .big {
    position: relative;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #F25C05;
    margin-bottom: 60px;
  }
  
  .big-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #F5F5F5;
  }
  
  .big-percent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
  }
  
  .big-title {
    position: absolute;
    text-align: center;
    font-size: 28px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    margin-top: 100px;
  }

  /*Donas Pequeñas*/
  .chart-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 1.2em;
  }
  
  .chart {
    position: relative;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #F25C05;
  }
  
  .chart-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F5F5F5;
  }
  
  .chart-percent {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    font-weight: bold;
  }
  
  .chart-title {
    position: absolute;
    text-align: center;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 55px;
    font-weight: bold;
  }