#crearExpo {
    background-color: #2B2B2B;
    border-radius: 30px;
    margin: 12px 20px;
}
#crearExpo a{
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#crearExpo .material-symbols-outlined{
    background: #F25C05;
    border-radius: 10px;
    padding: 10px;
    margin-left: 25px;
    font-size: 40px;
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    font-variation-settings:
  'FILL' 0,
  'wght' 1000,
  'GRAD' 0,
  'opsz' 48
}
#crearExpo > a > div{
    text-align: left;
    display: inline-block;
    flex: 1;
    vertical-align: middle;
    margin-left: 25px;
}

#crearExpo > a > div > h3{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 30px;
}

#crearExpo > a > div > h4{
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 30px;
    margin-top: 15px;
}


/*---------------------------crear expo inicio--------------------------------*/

 #nuevaExpo #crearExpo > a > div {
    text-align: center;
  }
  
  #nuevaExpo #crearExpo > a > div > h3 {
    margin-bottom: 30px;
    font-size: 18px;
  }
  
  .exposPasadas {
      background-color: #f5f5f5;
      border-radius: 30px;
      margin: 12px 15px;
      padding: 22px;
  }
  .exposPasadas a{
     color: #2b2b2b;
      text-decoration: none;
  }

.exposPasadas > a > div{
    width: 300px;
}
  
  .exposPasadas > a > div > h3{
      font-size: 25px;
      text-align: center;
  }
  
  .exposPasadas > a > div > h4{
      font-size: 25px;
      text-align: right;
  }

  .exposPasadas > a > div:nth-child(2){
    display: flex;
  }
  .exposPasadas > a > div:nth-child(2){
    h3, h4{
        width: 50%;
    }
    h3 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
    }
    h4 {
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: right;
        font-weight: 500;
    }
  }
  .exposPasadas > a > div:nth-child(3){
    text-align: center;
    .material-symbols-outlined{
    background: #F25C05;
    color: #fff;
    border-radius: 25px;
    padding: 10px;
    margin: 0 12px;
    font-size: 25px;
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    font-variation-settings:
  'FILL' 0,
  'wght' 1000,
  'GRAD' 0,
  'opsz' 48

    }
  }

#nuevaExpo #crearExpo{
    width: 40%;
    border-radius: 25px;
}

#nuevaExpo #crearExpo .material-symbols-outlined {
    margin-left: 20px;
    font-size: 35px;
    width: 35px;
    height: 35px;
}
#nuevaExpo #crearExpo > a > div {
    margin-left: 5px;
}

  @media screen and (min-width: 768px){
    .exposPasadas a {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }
    .exposPasadas > a > div:nth-child(2) {
        align-items: center;
        flex: 1;
        column-gap: 1rem;
        h4{
            text-align: left;
        }
    }
    #nuevaExpo .fila {
        flex-direction: column;
    }
    .exposPasadas img{
        width: 150px;
    }
  }
  @media screen and (min-width: 1024px){
    #crearExpo, #votaciones {
        width: 92%!important;
    }
  }
  @media screen and (min-width: 1309px){

  }
/*--------pagination-----------*/



/*---------------------------crear expo input--------------------------------*/

#nameExpo {
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 12px 20px;
}
#nameExpo a{
    color: #2b2b2b;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#nameExpo > a > div{
    text-align: left;
    margin-left: 25px;
    width: auto;
    flex: none;
    font-size: 32px;
}

#expoInputs {
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 12px 15px;
    font-size: 20;
}
#expoInputs a {
    color: #2b2b2b;
    text-decoration: none;
    display: flex;
    align-items: center;
}
#expoInputs > a > div {
    justify-content: space-around;
    text-align: left;
    margin-left: 25px;
    width: auto;
    flex: none;
}

#expoInputs > a > div > h3 {
    font-size: 20;
}




#nuevaExpo > div > div.botonesCrearExpo > a{
    color: #fff;
    background: #2b2b2b;
    font-size: 32px;
    padding: 10px;
    border-radius: 10px;
}


#moduloCrearExpo > div > a:nth-child(1){
    background: #989898;
}

.moduloBoton{
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 12px 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
.botonesCrearExpo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 86%;
}
#moduloImagenExpoNueva .moduloBoton .boton {
    color: #fff;
    display: flex;
    align-items: center;
} 
#moduloCrearExpo .moduloBoton .boton {
    color: #fff;
    color: #fff;
    display: flex;
    align-items: center;
}
#moduloImagenExpoNueva .moduloBoton .drop-zone {
    max-width: 200px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #F25C05;
    border-radius: 10px;
  }
  
#moduloImagenExpoNueva .moduloBoton .drop-zone--over {
    border-style: solid;
  }
  
#moduloImagenExpoNueva .moduloBoton .drop-zone__input {
    display: none;
  }
  
#moduloImagenExpoNueva .moduloBoton .drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
  }
  
#moduloImagenExpoNueva .moduloBoton .drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
  }
  
  #nameExpo #crearExpo > a{
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
/*--------------------------- expo creada--------------------------------*/

#expoCreada a {
    color: #2B2B2B;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin: 12px 70px;
}

#expoCreada .boton {
    margin: 12px auto;
}

#expoCreada section {
    background-color: #f5f5f5;
    border-radius: 30px;
    margin: 12px 20px;
    display: flex;
    justify-content: center;
}
#expoCreada h4 {
    padding: 30px;
    color: #F25C05;
}
#expoCreada .boton {
    color: #fff;
}