.sidebar {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  background-color: #2a2a2a;
  font-family: "Poppins";
  font-size: 16px;
  position: fixed;
  height: 100%;
  width: 52px;
  left: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  ul{
        list-style: none;
        padding: 0;
        margin: 0;
    }
    li {
        margin-bottom: 24px;
    }
    a {
        color: #fff!important;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        text-decoration: none!important;
        border-radius: 5px;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        :hover {
            color: #c2c2c2;
        }
        :active {
            color: #F25C05;
          }
    }
    nav{
        margin-top:70px
    }
    .icon-asset {
        font-size: 25px;
        margin-right:2px;
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
    }
    .texto{
        font-size: 14px;
    }
}