.podio-posicion{
    width: 40px;
    font-weight: bold; 
    font-size: 1.5rem;
    line-height: 1.5em;
    margin: 0px;
}

/* estilos de tablet*/
@media screen and (min-width: 768px){
    .podio-posicion {
        text-align: center;
    }

}
/* estilos de laptop*/
@media screen and (min-width: 1024px){

}