.FichasContainer {
    background-color: #F2F2F2;
    border-radius: 35px;
    padding: 20px;
    margin: 15px auto;
    width: 90%;
    box-sizing: border-box;
}

.Fichas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: calc(100% - 10px);
    margin-bottom: 20px;
}

.Ficha {
    text-align: left;
    background-color: #2B2B2B;
    border-radius: 10px 10px 10px 0;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.Ficha h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

#configuracion {
    padding: 4rem 10%;
}

#podium {
    padding: 4rem 10%;
    margin-left: 0;
}

#podium input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#podium .caja1 {
    width: 40%;
    background-color: #2a2a2a;
    border-radius: 31px;
    padding: 20px;
    align-self: center;
}

#podium .caja2 {
    background-color: rgba(217, 217, 217, 0.5);
    padding: 10px;
}

#podium .recuadro {
    border: 2px solid #d9d9d9;
    padding: 10px;
    margin-top: 10px;
}

#podium .caja3 {
    background-color: #f25c05;
    padding: 20px;
    text-align: center;
    color: #fff;
}

#configuracion{

input, select, textarea, .boton {
    margin: 1rem 0;
    width: 100%;
    box-sizing: border-box;
}
.boton {
    background: #c3bcbc;
}
.guardar-btn {
    width: 50%;
    display: block;
    padding: auto;
    margin: auto;
}
.Activar {
    width: 100%;
    box-sizing: border-box;
    color: rgb(42, 42, 42);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    background: rgb(245, 245, 245);
    padding: 16px 32px;
    margin: 1rem auto;
    border-radius: 20px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(245, 245, 245);
    border-image: initial;
}
}

/*Tablet*/
@media screen and (min-width: 768px){

}
/*Laptop*/
@media screen and (min-width: 1024px){

}
