.FichasContainer {
    background-color: #F2F2F2;
    border-radius: 35px;
    padding: 20px;
    margin: 15px auto;
    width: 90%;
    box-sizing: border-box;
}

.Fichas {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    width: calc(100% - 10px);
    margin-bottom: 20px;
}

.Ficha {
    text-align: left;
    background-color: #2B2B2B;
    border-radius: 10px 10px 10px 0;
    color: #FFFFFF;
    padding: 20px;
    text-decoration: none;
}

.Ficha h4 {
    font-weight: 400;
    font-size: 1.2rem;
}

#configuracion {
    padding: 4rem 10%;
}

#configuracion {

    input,
    select,
    textarea,
    .boton {
        margin: 1rem 0;
        width: 100%;
        box-sizing: border-box;
    }

    .button.r {
        margin: initial;
    }

    .boton {
        background: #c3bcbc;
    }

    .guardar-btn {
        width: 100%;
        display: block;
        padding: auto;
        margin: auto;
    }

    .Activar {
        width: 100%;
        box-sizing: border-box;
        color: rgb(42, 42, 42);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;
        background: rgb(245, 245, 245);
        padding: 16px 32px;
        margin: 1rem auto;
        border-radius: 20px;
        border-width: 2px;
        border-style: solid;
        border-color: rgb(245, 245, 245);
        border-image: initial;
    }
}
.pudiumpage{
.podio-item img{
    width: 45px;
    border-radius: 50%;
    border: 3px solid #F25C05;
}
.podio-item{
    display: flex;
    background-color: #F25C05;
    align-items: center;
    margin: 0px 0px 25px;
    border-radius: 40px;
    justify-content: space-between;
}
.content { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A2A2A;
    color: white;
    border-radius: 40px;
    font-weight: lighter;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
    flex: 1;
}
.contenedor-texto{
    width: 95%;
}

.podio-votos{
    margin-right: 10px;
    margin-left: 10px;
    font-size: 2rem;
    color: white;
    font-weight:550;
    width: 60px;
    text-align: center;
}

.podio-titulo{
    font-size: 1rem;
    font-weight: 550;
    margin: 1em 10% 8px 0%;
    
}
.podio-nombres{
    font-size: 0.87rem;
    font-weight: normal;
    color: #F25C05;
    margin: 0 10% 1em 0% ;
}

.podiumpage{
    background-color: #F2F2F2;
    border-radius: 35px;
    margin: 15px auto;
    padding: 15px;
    width: 90%;
    box-sizing: border-box;
}
#dos {
    padding-right: 30px; /* Ajusta este valor según tu preferencia */
}


/* estilos de tablet*/
@media screen and (min-width: 768px){
    .content {
        flex-wrap: nowrap;
    }
    .podio-nombres, .podio-titulo {
        margin-left:  5%;
    }
    .podium{
        width: 95%;
    }

}
}
/* estilos de laptop*/
@media screen and (min-width: 1024px){

}

/*ESTILOS DE TABLET*/
@media screen and (min-width: 768px) {
    .Fichas {
        grid-template-columns: repeat(2, 1fr) !important;

        .FichasContainer {
            width: 95%;
        }
    }
}

/*ESTILOS DE LAPTOP*/
@media screen and (min-width: 1024px) {
    .fichas {
        margin: 12px 15px;
        width: initial;
    }
   .asignarv{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
   }
}

/*ESTILOS DE PANTALLAS GRANDES*/
@media screen and (min-width: 1620px) {
    .Fichas {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}


#dos {
    padding-right: 30px;
    border: 2px solid #F25C05;
    border-radius: 20px;
    background-color: white;
    color: #F25C05;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 20px;
}

#dos:hover {
    background-color: #F25C05;
    color: white;
}
