body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size:16px;
    text-decoration: none;
    .material-symbols-outlined {
      font-size: 50px;
      font-weight: 1000;
      border-radius: 10px
  }
  }
  .FichasContainer {
      background-color: #F2F2F2; 
      border-radius: 15px; 
      padding: 20px;
  .Fichas {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      width: calc(25% - 10px);; 
      margin-bottom: 20px; 
  }
  
  .Ficha {
      text-align: left;
      background-color: #2B2B2B; 
      border-radius: 10px 10px 10px 0; 
      color: #FFFFFF;
      padding: 20px;
  }
  
  /* Estilos de fichas individuales */
  .box-one, .box-two, .box-three, .box-four {
      border-left: 10px solid #F25C05;
  }
  .box-four {
      background-color: #F25C05; 
      border-left: 10px solid #2B2B2B; 
  }
  
}
